:host {
    margin: 0 0 0.4em 0;
    display: flex;
    flex-direction: row;
    align-items: center;
}

:host.last-item {
    margin: 0;
}

.buttonLink {
    display: flex;
    flex: 1;
    align-items: center;
    text-decoration: none;
}

.menuItemRightArrow {
    margin-left: auto;
}