<app-side-menu-section [title]="'Set Location'" [expandable]="true">
</app-side-menu-section>
<app-side-menu-section [title]="'Shape'" [expandable]="true">
</app-side-menu-section>
<app-side-menu-section [title]="'Colour'" [expandable]="true">
</app-side-menu-section>
<app-side-menu-section [title]="'Size'" [expandable]="true">
</app-side-menu-section>
<app-side-menu-section [title]="'Label'" [expandable]="true">
</app-side-menu-section>
<app-side-menu-section [title]="'Visibility'" [expandable]="true">
</app-side-menu-section>