.mapToolbar {
  background-color: #555;
  color: #fff;
  font-size: 24px;
  display: flex;
  align-items: center;
  height: 30px;
  padding: 3px 0;
  border-bottom: 1px solid #aaaaaa;
}

.mapToolbarButton {
  cursor: pointer;
}
