<mat-accordion>
  <app-side-menu-section class="padding" [title]="'Project Name'" [expandable]="true">
    <p>
        <label>Name:</label>
        <input id="txtProjectName" tabindex="1" accesskey="n" type="text" class="field txt-EnterName"
          value="Enter Name" [ngModel]="projectTitle" (ngModelChange)="changeProjectTitle($event)"
          title="Type the name that you want to use to identify this project">
    </p>
  </app-side-menu-section>

  <app-side-menu-section class="padding" [title]="'Add Data'" [expandable]="true">

    <app-slide-nav-button [targetSlideId]="'createLayer'" [direction]="'forward'" (click)="clickCreateLayer($event)">
      <app-proceed-inner-button class="slim" [iconClass]="'far fa-plus-square'" [title]="'Create New Layer'">
      </app-proceed-inner-button>
    </app-slide-nav-button>

    <app-slide-nav-button [targetSlideId]="'useExistingLayer'" [direction]="'forward'">
      <app-proceed-inner-button class="slim" [iconClass]="'fas fa-layer-group'" [title]="'Use Existing Layer'">
      </app-proceed-inner-button>
    </app-slide-nav-button>

    <app-slide-nav-button [targetSlideId]="'updateExistingLayer'" [direction]="'forward'">
      <app-proceed-inner-button class="slim" [iconClass]="'fas fa-sync'" [title]="'Update Existing Layer'">
      </app-proceed-inner-button>
    </app-slide-nav-button>

  </app-side-menu-section>

  <app-side-menu-section [title]="'My Data'" [expandable]="true">
    <p>Point Layers</p>
    <ul class="layerList">
      <li *ngFor="let layer of layers">
        <input type="checkbox" />{{ layer.name }}</li>
    </ul>
    <p>Boundaries</p>
  </app-side-menu-section>

  <app-side-menu-section [title]="'System Data'" [expandable]="true">
    <p>Point Layers</p>
    <ul class="layerList">
      <li *ngFor="let layer of systemPointLayers">
        <input type="checkbox" />{{ layer.name }}</li>
    </ul>
    <p>Boundaries</p>
    <ul class="layerList">
      <li *ngFor="let layer of systemBoundaryLayers">
        <input type="checkbox" />{{ layer.name }}</li>
    </ul>
  </app-side-menu-section>

  <app-side-menu-section [title]="'Map Bases'" [expandable]="true">
    <p>Google Roads</p>
  </app-side-menu-section>
</mat-accordion>