/* You can add global styles to this file, and also import other style files */
@import "~leaflet/dist/leaflet.css";

* {
    font-family: "Source Sans Pro", Effra, Arial, Helvetica, FreeSans, sans-serif;
    font-size: 100%;
}

html, body {
    height: 100%; overflow: hidden;
}

body {
    min-height: 100%;
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    font-size: 100%;
}

h2, h3, h4 {
    margin: 0;
}

label {
    margin-right: 15px;
    line-height: 1.8em;
}

input[type="text"] {
    border: 1px solid #000;
    background-color: #fff;
    padding: 2px;
}

.dashboard {
    display: flex;
    width: 100%;
    height: 100%;
}

.dashboard > .grid {
    display: grid;
    width: 100%;
    grid-template-columns: 320px auto;
    grid-template-rows: 70% 30%;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

.button {
    border: 2px solid #000;
    background-color: #000;
    color: #fff;
    outline: none;
    text-align: center;
    text-decoration: none;
    font-size: 1em;
    font-weight: normal;
    line-height: 100%;
    overflow: visible;
    width: auto;
    padding: .33em 0.85em;
    -webkit-appearance: none;
    -webkit-border-radius: 0px;
}

.projectManagerWidget .slider {
    font-size: 1.2em;
}

.side-menu-section {
    width: 100%;
}

.side-menu-section .last-item {
    border-bottom: 1px solid #000;
}

.side-menu-section .side-menu-section {
    border: 1px solid #555;
    border-top: none;
}

.side-menu-section .side-menu-section:hover {
    background-color: #aaa;
}

.side-menu-section .side-menu-section .section-header {
    color: #000;
    background-color: #fff;
    border: none;
}

.side-menu-section .side-menu-section .section-header:hover {
  background-color: #aaa;
}

.mat-accordion .side-menu-section .mat-expansion-panel.mat-expansion-panel-spacing {
    margin: 0;
}

.mat-expansion-panel, .mat-expansion-panel-header, .mat-expansion-panel-header-title {
    font-family: "Source Sans Pro", Effra, Arial, Helvetica, FreeSans, sans-serif;
    color: unset;
}

.mat-expansion-panel-header {
    color: #fff;
    font-size: 100%;
    background-color: rgb(85, 85, 85);
    border-bottom: 1px solid #aaa;
}

.mat-expansion-panel-header:hover {
    color: #000;
}

.mat-expansion-panel-header.mat-expanded.cdk-focused.cdk-mouse-focused {
    background-color: rgb(85, 85, 85);
}

.mat-expansion-panel-header.mat-expanded {
    border-bottom: none;
}

app-side-menu .mat-expansion-panel > .mat-expansion-panel-header:not([aria-disabled=true]):hover  {
    background-color: #aaa !important;
}

.mat-expansion-panel-header .mat-expansion-indicator::after {
    color: inherit;
}

.mat-expansion-panel-header .mat-content {
    display: block;
}

.mat-expansion-panel-header-description {
    display: block;
    color: #fff;
    font-size: 11px;
    margin-top: 2px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.mat-expansion-panel-content .mat-expansion-panel-body {
    background-color: #fff;
    padding: 16px;
}

.mat-expansion-panel-body .slideNavButton p {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.mat-expansion-panel-body .buttonIcon {
    margin-right: 10px;
}

.mat-expansion-panel-body .sliderButton a:hover {
    background-color: #ccc;
}

.mat-expansion-panel-body .sliderButton i {
    display: flex;
}

.mat-expansion-panel-body .menuItemRightArrow {
    font-size: 17px;
    margin-left: auto;
}

.slide .slideNavButton a:hover {
    background-color: #ccc;
}

.slide_createLayer .mat-expansion-panel-header-title {
    font-weight: bold;
}

.attachable-content select {
    width: 220px;
}

.attachable-content .icon {
    font-size: 20px;
    width: 20px;
    margin-right: 10px;
    margin-bottom: 5px;
}

.homeButton {
    display: block;
    text-align: center;
    font-size: 1.2em;
    padding: 10px;
    margin: 0 0 20px 0;
    border: 1px solid #fff;
    text-decoration: none;
    color: #fff;
}

.homeButton:hover {
    border-color: #000;
    color: #000 !important;
}

.homeButton .icon {
    display: block;
    font-size: 2.4em;
}

.proceed-inner {
    display: block;
    padding: 1em 10px 1em 20px;
    border-top: 1px solid #000;
    border-left: 1px solid #000;
    border-right: 1px solid #000;
}

.proceed-inner .icon {
    margin-right: 10px;
}

.slim .proceed-inner {
    padding: 0;
    margin-bottom: 0.4em;
    border: none;
}