/* You can add global styles to this file, and also import other style files */
@import "~leaflet/dist/leaflet.css";

* {
    font-family: Arial, Helvetica, sans-serif;
}

html, body { height: 100%; }

body {
    min-height: 100%;
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

h2, h3, h4 {
    margin: 0;
}

label {
    margin-right: 15px;
    line-height: 1.8em;
}

input[type="text"] {
    border: 1px solid #000;
    background-color: #fff;
    padding: 2px;
}

.dashboard {
    display: flex;
    width: 100%;
    height: 100%;
}

.dashboard > .grid {
    display: grid;
    width: 100%;
    grid-template-columns: 320px auto;
    grid-template-rows: 70% 30%;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

.mat-expansion-panel-header {
    background-color: rgb(85, 85, 85);
    border-bottom: 1px solid #aaa;
}

.mat-expansion-panel-header.mat-expanded.cdk-focused.cdk-mouse-focused {
    background-color: rgb(85, 85, 85);
}

app-project-manager-widget .mat-expansion-panel > .mat-expansion-panel-header:not([aria-disabled=true]):hover  {
    background-color: #aaa !important;
}

.mat-expansion-panel-header .mat-expansion-indicator::after {
    color: #fff;
}

.mat-expansion-panel-content .mat-expansion-panel-body {
    background-color: #fff;
    padding: 0.2em 1.4em 0.2em 1.4em;
}

.mat-expansion-panel-body .sliderButton {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.mat-expansion-panel-body .sliderButton a {
    display: flex;
    flex-direction: row;
    flex: 1;
    align-items: center;
    margin: 0 0 0 10px;
    color: #000;
    text-decoration: none;
}

.mat-expansion-panel-body .sliderButton i {
    display: flex;
}

.mat-expansion-panel-body .menuItemRightArrow {
    margin-left: auto;
}

.slide .slideNavButton:hover, .sliderButton a:hover {
    background-color: #aaa;
}
