.homeButton {
    display: block;
    text-align: center;
    padding: 10px;
    margin: 0 0 20px 0;
    border: 1px solid #fff;
    text-decoration: none;
    color: #fff;
}

.homeButton:hover {
    border-color: #000;
    color: #000 !important;
}