<div class="projectManagerHomeContent">

  <app-slide-nav-button [targetSlideId]="'projectEditor'" [direction]="'forward'" (click)="clickCreateProject($event)">
    <a href="#" class="homeButton">
      <i class="icon far fa-file"></i>
       Create a new project
    </a>
  </app-slide-nav-button>

  <app-slide-nav-button [targetSlideId]="'projectList'" [direction]="'forward'">
    <a href="#" class="homeButton">
      <i class="icon far fa-folder"></i>
       Open an existing project
    </a>
  </app-slide-nav-button>

  <app-slide-nav-button [targetSlideId]="'dataManager'" [direction]="'forward'" (click)="clickManageData($event)">
    <a href="#" class="homeButton">
      <i class="icon fas fa-table"></i>
      Manage your data
    </a>
  </app-slide-nav-button>

</div>
