h2 {
    margin: 0;
    padding: 0;
    color: #6c6c6c !important;
}

.togglelink.open {
    text-decoration: none;
    color: #fff;
}

:host .mat-expansion-panel {
    border-bottom: 1px solid #aaa;
    box-shadow: none;
}

.mat-expansion-panel-header .mat-expansion-panel-header-title,
.mat-expansion-panel-header .mat-expansion-indicator::after {
    color: #fff;
}

ul.layerList {
    list-style-type: none;
    padding: 0;
}