<app-expandable-menu-item [title]="'Project Name'">
  <p>
      <label>Name:</label>
      <input id="txtProjectName" tabindex="1" accesskey="n" type="text" class="field txt-EnterName"
        value="Enter Name" [ngModel]="projectTitle" (ngModelChange)="changeProjectTitle($event)" style="width: 15.5em;" 
        title="Type the name that you want to use to identify this project">
  </p>
</app-expandable-menu-item>

<app-expandable-menu-item [title]="'Add Data'">

  <app-slide-nav-button [targetSlideId]="'createLayer'" [direction]="'forward'">
    <p>
      <i class="buttonIcon far fa-plus-square"></i>
      <a href="#">Create New Layer
      <i class="fa fa-chevron-right menuItemRightArrow"></i>
      </a>
    </p>
  </app-slide-nav-button>

  <app-slide-nav-button [targetSlideId]="'useExistingLayer'" [direction]="'forward'">
    <p>
      <i class="buttonIcon fas fa-layer-group"></i>
      <a href="#">Use Existing Layer
      <i class="fa fa-chevron-right menuItemRightArrow"></i>
      </a>
    </p>
  </app-slide-nav-button>

  <app-slide-nav-button [targetSlideId]="'updateExistingLayer'" [direction]="'forward'">
    <p>
      <i class="buttonIcon fas fa-sync"></i>
      <a href="#">Update Existing Layer
      <i class="fa fa-chevron-right menuItemRightArrow"></i>
      </a>
    </p>
  </app-slide-nav-button>

</app-expandable-menu-item>

<app-expandable-menu-item [title]="'My Data'">
  <p>Point Layers</p>
  <ul class="layerList">
    <li *ngFor="let layer of layers">
      <input type="checkbox" />{{ layer }}</li>
  </ul>
  <p>Boundaries</p>
</app-expandable-menu-item>

<app-expandable-menu-item [title]="'System Data'">
  <p>Point Layers</p>
  <p>Boundaries</p>
</app-expandable-menu-item>

<app-expandable-menu-item [title]="'Map Bases'">
  <p>Google Roads</p>
</app-expandable-menu-item>