<app-expandable-menu-item [title]="'Project Name'">
  <p>
      <label>Name:</label>
      <input id="txtProjectName" tabindex="1" accesskey="n" type="text" class="field txt-EnterName" value="Enter Name" style="width: 15.5em;" title="Type the name that you want to use to identify this project">
  </p>
</app-expandable-menu-item>

<app-expandable-menu-item [title]="'Add Data'">
  <p>Create New Layer</p>
  <p>Use Existing Layer</p>
  <p>Update Existing Layer</p>
</app-expandable-menu-item>

<app-expandable-menu-item [title]="'My Data'">
  <p>Point Layers</p>
  <p>Boundaries</p>
</app-expandable-menu-item>

<app-expandable-menu-item [title]="'System Data'">
  <p>Point Layers</p>
  <p>Boundaries</p>
</app-expandable-menu-item>

<app-expandable-menu-item [title]="'Map Bases'">
  <p>Google Roads</p>
</app-expandable-menu-item>