.projectManagerHeader {
    border-bottom: 1px solid #aaaaaa;
}

.navBackArrow {
    cursor: pointer;
    font-size: 11px;
    position: relative;
    float: left;
    margin-left:20px;
    padding: 0 7px 0 2px;
    font-weight: normal;
    cursor: pointer;
    top: 0;
    left: 0;
    background:grey;
    color:#fff;
    text-align:left;
    line-height:28px;
}

div:before{
    content: "";
    position: absolute;
    left: -28px;
    border: 14px solid transparent;
    border-right: 14px solid grey;
}

.currentMenuTitle {
    font-size: 11px;
    text-align: center;
    font-family: "Source Sans Pro", Effra, Arial, Helvetica, FreeSans, sans-serif;
    font-weight: 600;
    line-height: 29px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}