<div #container>

  <div class="projectManagerHeader">
    <div class="navArrowContainer">
      <div *ngIf="navigationDepth > 0" class="navBackArrow" (click)="navigateBack($event)">Back</div>
    </div>
    <h2 class="currentMenuTitle">{{ menuTitle }}</h2>
  </div>

  <app-slider #slider (slideChange)=slideChange($event)>

    <app-slide [class]="'slide_projectManagerHome'" [slideId]="'projectManagerHome'" [title]="'Home'" [visible]="true">

      <div class="projectManagerHomeContent">

        <app-slide-nav-button [targetSlideId]="'projectEditor'" [direction]="'forward'">
          <app-home-menu-button class="sliderButton" [buttonText]="'Create a new project'" title="Create a new project"
            [iconClass]="'icon-home-newproject'"></app-home-menu-button>
        </app-slide-nav-button>

        <app-slide-nav-button [targetSlideId]="'projectList'" [direction]="'forward'">
          <app-home-menu-button class="sliderButton" [buttonText]="'Open an existing project'" title="Open an existing project"
            [iconClass]="'icon-home-existinproject'"></app-home-menu-button>
        </app-slide-nav-button>

        <app-slide-nav-button [targetSlideId]="'dataManager'" [direction]="'forward'">
          <app-home-menu-button class="sliderButton" [buttonText]="'Manage your data'" title="Manage your data"
            [iconClass]="'icon-home-datamanager'"></app-home-menu-button>
        </app-slide-nav-button>

        <button (click)="openAddLayerDialog()">Add Layer</button>
        <ul>

          <li *ngFor="let layer of layers">{{ layer }}</li>
        </ul>
      </div>

    </app-slide>

    <app-slide [slideId]="'projectEditor'" [title]="'Project Editor'" [visible]="true">
      <app-create-project></app-create-project>
    </app-slide>

  </app-slider>
</div>
