.projectManagerWidget {
    height: 100%;
    border-bottom: 1px solid #aaa;
    border-right: 1px solid #aaa;
}

.projectManagerHeader {
    display: flex;
    position: relative;
    height: 30px;
    padding: 3px 0;
    border-bottom: 1px solid #aaa;
}

.navArrowContainer {
    cursor: pointer;
    display: flex;
    z-index: 10;
    float: left;
    height: auto;
    align-items: center;
    justify-content: center;
}

.navBackArrow {
    cursor: pointer;
    font-size: 11px;
    position: relative;
    float: left;
    margin-left:16px;
    padding: 0 7px 0 2px;
    font-weight: normal;
    cursor: pointer;
    top: 0;
    left: 0;
    background:grey;
    color:#fff;
    text-align:left;
    line-height:22px;
}

.navBackArrow:before{
    content: "";
    position: absolute;
    left: -22px;
    border: 11px solid transparent;
    border-right: 11px solid grey;
}

.currentMenuTitle {
    position: absolute;
    width: 100%;
    font-size: 11px;
    text-align: center;
    font-family: "Source Sans Pro", Effra, Arial, Helvetica, FreeSans, sans-serif;
    font-weight: 600;
    line-height: 30px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.projectManagerHomeContent {
    padding: 15px 20px;
}