<div class="projectManagerWidget" #container>

  <div class="projectManagerHeader">
    <div class="navArrowContainer">
      <div *ngIf="navigationDepth > 0" class="navBackArrow" (click)="navigateBack($event)">Back</div>
    </div>
    <h2 class="currentMenuTitle">{{ menuTitle }}</h2>
  </div>

  <app-slider-view #slider (slideChange)=slideChange($event)>

    <app-slide [slideId]="'projectManagerHome'" [class]="'slide_projectManagerHome'" [title]="'Home'" [visible]="true">
      <app-project-manager-home-panel></app-project-manager-home-panel>
    </app-slide>

    <app-slide [slideId]="'projectEditor'" [class]="'slide_projectEditor'" [title]="'Project Editor'" [visible]="true">
      <app-project-editor-panel></app-project-editor-panel>
    </app-slide>

    <app-slide [slideId]="'createLayer'" [class]="'slide_createLayer'" [title]="'Create Layer'" [visible]="false">
      <app-create-layer-panel></app-create-layer-panel>
    </app-slide>

    <app-slide [slideId]="'importData'" [class]="'slide_importData'" [title]="'Import Data'" [visible]="false">
      <app-import-data-panel></app-import-data-panel>
    </app-slide>

    <app-slide [slideId]="'copyExistingLayer'" [class]="'slide_copyExistingLayer'" [title]="'Existing Layer'" [visible]="false">
      <app-copy-existing-layer-panel></app-copy-existing-layer-panel>
    </app-slide>

  </app-slider-view>
</div>
