.section-header {
    cursor: pointer;
    padding: 0 24px;
    border-bottom: 1px solid #aaa;
}

.section-header:hover {
    color: #000;
    background-color: #aaa !important;
}

.section-header-title {
    color: #fff;
    display: flex;
    align-items: center;
}

.section-header-title .proceed-right-arrow {
    margin-left: auto;
}

.mat-expansion-panel {
    box-shadow: none;
}