<div class="floating-select-buttons">
    <input type="button" id="btnAddPin" title="Add Pin" value="Add" onclick="btnAddPinClick();" class="button allMapShape hide">
    <input type="button" id="btnDelMapPinMapShape" title="Delete Map Pin" value="Delete" onclick="deleteMapShape();" class="button singleMapShape" style="margin-right: 5px;">
    <input type="button" id="btnLocPin" title="Locate Map Pin on Map" value="Locate" onclick="btnLocatePinClick();" class="button singleMapShape">
</div>
<div>
    <input id="rdoEditTypeAllPins" title="Edit Layer" name="rdoEditType" value="editAll" type="radio" [(ngModel)]="radioEditType" (change)="onItemChange($event)">All
</div>
<div class="mv10">
    <input id="rdoEditTypePin" title="Select a Single Map Pin" name="rdoEditType" value="editSingle" type="radio" [(ngModel)]="radioEditType" (change)="onItemChange($event)">
    <span id="spnPinEdit">Add: Click Map</span>
    <input id="txtEditPin" title="Choose a Map Pin to Edit" type="text" class="field droparrow hide" style="width: 12em;" autocomplete="off">
    <ul class="jsonSuggest ui-autocomplete ui-menu ui-widget ui-widget-content ui-corner-all" role="listbox" style="top: 92.5625px; left: 63.9px; width: 130px; z-index: 999; display: none;"></ul>
</div>