<app-expandable-menu-item [headerHeight]="'60px'" [title]="'Map Pins'" [description]="'Plot your map data using pins on the map'">
</app-expandable-menu-item>

<app-expandable-menu-item [headerHeight]="'60px'" [title]="'Catchment Areas'" [description]="'Catchments are trading areas which can overlap'">
</app-expandable-menu-item>

<app-expandable-menu-item [headerHeight]="'60px'" [title]="'Territories'"  [description]="'Organise your sales regions into non-overlapping territories'">
</app-expandable-menu-item>