<app-slider #slider>
  <app-slide data-slider="{ slideId: 'projectManagerHome' }">

    <app-home-menu-button class="sliderButton" [buttonText]="'Create a new project'" title="Create a new project"
      [iconClass]="'icon-home-newproject'" data-slider="{ nextSlide: 'projectEditor' }" #sliderButton></app-home-menu-button>

    <app-home-menu-button class="sliderButton" [buttonText]="'Open an existing project'" title="Open an existing project"
      [iconClass]="'icon-home-newproject'" data-slider="{ nextSlide: 'projectEditor' }" #sliderButton></app-home-menu-button>

    <app-home-menu-button class="sliderButton" [buttonText]="'Manage your data'" title="Manage your data"
      [iconClass]="'icon-home-newproject'" data-slider="{ nextSlide: 'projectEditor' }" #sliderButton></app-home-menu-button>

    <button (click)="openAddLayerDialog()">Add Layer</button>
    <ul>
      <li *ngFor="let layer of layers">{{ layer }}</li>
    </ul>
  </app-slide>
  <app-slide data-slider="{ slideId: 'projectEditor' }">
    <app-create-project></app-create-project>
  </app-slide>
</app-slider>
